{% extends "base.html" %}


{% block title %}
О нас
{% endblock %}


{% block body %}


<img src="/static/pet-shop.jpg" align="left" width="300" height="300" />
<h1> Компания PETSHOP</h1>
<p class="text-justify">Petshop является уникальной интернет-площадкой, где вы можете найти себе чудесного домашнего питомца.
<br/>На нашем сайте Вам доступна крупнейшая база различных пород домашних любимцев.
<br/>Зарегистрировавшись на нашем сайте, Вы получаете возможность публиковать свои собственные объявления о продаже четвероногих питомцев.
Мы ответственно подходим к своему участию в судьбе каждого животного, поэтому публикуем контактные телефоны авторов объявления, чтобы будущие владельцы могли заранее задать важные для них вопросы о животном.
<br/> Вы можете добавить понравившееся Вам объявление в избранное и оно не потеряется, что позволит Вам вернуться к нему в любой момент, воспользовавшись Личным кабинетом
<br/>Мы всегда выполняем свои обязательства и рады сотрудничать с новыми партнерами.

    <br/>Мы хотим стать лучше, открыты к диалогу и ждем обратной связи от наших клиентов.</br></p>


<p class="font-weight-bold">Наши реквизиты:</p>
<p class="font-italic"> ООО "Петшоп"
<br/>ИНН/КПП 1111111111/111111111
<br/>ОГРН 1111111111111
<br/>Юридический адрес: 111111, Казань, проспект Универсиады, дом 1, помещение 1
<br/>Адрес для направления почтовой корреспонденции: 111111, Казань, проспект Универсиады, дом 1, помещение 1</p>

<h4>Ждем ваших звонков по номеру: +7(902) 715-91-91</h4>

{% endblock %}
