<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
<p class="h3 text-left font-bold" style="color:#563d7c">Здравствуйте! Вы вошли в ваш личный кабинет</p>

<dl class="row">
  <dt class="col-sm-3">LOGIN</dt>
  <dd class="col-sm-9">{{ user_login }}</dd>

  <dt class="col-sm-3">Фамилия</dt>
  <dd class="col-sm-9">{{ user_surname }}</dd>

  <dt class="col-sm-3">Имя</dt>
  <dd class="col-sm-9">{{ user_name }}</dd>

  <dt class="col-sm-3">Номер телефона</dt>
  <dd class="col-sm-9">{{ user_phone_number }}</dd>


  <dt class="col-sm-3">Вами размещено объявлений</dt>
  <dd class="col-sm-9">      </dd>

</dl>

        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col">

<p class="h3 text-left font-bold" style="color:#563d7c">Ваши объявления:</p>
            {% for good in ads_for_user %}

<div class="card" style="width: 18rem;">
  <img src="/static/{{ good.photo }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ good.category }} породы {{ good.breed }}</h5>
    <p class="card-text">Цена: {{ good.price }} руб. </p>
    <p class="card-text"><a class="btn btn-outline-info btn-sm" href="{{ url_for('edit', vendor_code=good.vendor_code) }}">Редактировать</a></p>
    <p class="card-text"><a class="btn btn-outline-info btn-sm" href="{{ url_for('remove', vendor_code=good.vendor_code) }}">Удалить объявление</a></p>

    <a href="{{ url_for('details', vendor_code=good.vendor_code) }}" class="btn btn-primary">Подробнее</a>
  </div>
</div>


            {% endfor %}












        </div>
    </div>
</div>

</body>
</html>