<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Артикул: {{pet.vendor_code}}</title>
</head>
<body>
<div class="container">
<div class="row">
    <div class="col">

    <p class="h3 text-center font-weight-bold">Подробнее о животном по имени {{ pet.name }}</p>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
        {% if pet.photo %}
      <img src="/static/{{ pet.photo }}" class="card-img" alt="{{ pet.category }} {{ pet.name }}">
        {% else %}
      <img src="/static/7.jpg" class="card-img" alt="{{ pet.category }} {{ pet.name }}">
        {% endif %}


    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ pet.category }} породы {{ pet.breed }}</h5>
        <p class="card-text">Кличка: {{ pet.name }}</p>
        <p class="card-text">Пол: {{ pet.gender }}</p>
        <p class="card-text">Дата рождения: {{ pet.birthdate }}</p>
        <p class="card-text">Цена: {{ pet.price }} руб.</p>
        <p class="card-text">Описание: {{ pet.description }} </p>
        <p class="card-text"><small class="text-muted">Номер объявления: {{ pet.vendor_code }} </small></p>
      </div>
    </div>
  </div>
</div>

    </div>
    </div>
    </div>
</body>
</html>