{% extends "base.html" %}


{% block title %}
Редактировать объявление с номером: {{ pet.ad_id }})
{% endblock %}

    {% block body %}

    <p class="h2 text-center font-weight-bold">Введите новые данные</p>

    <form class="form-group" action="{{ url_for('edit', ad_id=pet.ad_id) }}" method="post" enctype=multipart/form-data>
        <div class="form-group">
            <label for="ad_id">Номер объявления</label>
            <input class="form-control" name="ad_id" value="{{ pet.ad_id }}" placeholder="111111" required>
        </div>

        <div class="form-group">
            <label for="category">Категория</label>
            <input class="form-control" name="category" value="{{ pet.category }}" placeholder="Собака" required>
        </div>

        <div class="form-group">
            <label for="breed">Порода</label>
            <input class="form-control" name="breed" value="{{ pet.breed }}" placeholder="Овчарка" required>
        </div>

        <div class="form-group">
            <label for="gender">Пол (М/Ж)</label>
            <input class="form-control" name="gender" value="{{ pet.gender }}" placeholder="М" required>
        </div>




        <div class="form-group">
            <label for="birthdate">Дата рождения</label>
            <input class="form-control" name="birthdate" value="{{ pet.birthdate }}" placeholder="10.2015" required>
        </div>

        <div class="form-group">
            <label for="name">Кличка</label>
            <input class="form-control" name="name" value="{{ pet.name }}" placeholder="Жучка" required>
        </div>


        <div class="form-group">
            <label for="price">Цена, руб.</label>
            <input class="form-control" name="price" value="{{ pet.price }}" placeholder="1000" required>
        </div>


        <div class="form-group">
            <label for="photo">Фото</label>
            <img src="/static/{{ pet.photo }}" style="max-width: 200px;">

            <input type=file name=file value="{{ pet.photo }}" placeholder="Фото">
        </div>


        <div class="form-group">
            <label for="description">Описание</label>
            <input class="form-control" name="description" value="{{ pet.description }}"
                   placeholder="Красивый, послушный" required>
        </div>

        <button type="submit" class="btn btn-success">Сохранить изменения</button>

    </form>

    {% endblock %}

