{% extends "base.html" %}

{% block title %}
Зоомагазин
{% endblock %}

{% block body %}
<div class="container-fluid" style="display: inline-block">


        <div class="card-columns" style="max-width: 900px;">
            {% for pet in pets %}
            <div class="card">
                {% if pet.photo %}
                <img src="/static/{{ pet.photo }}" class="card-img-top" alt="Ваш будущий четвероногий друг">

                {% else %}
                <img src="/static/7.jpg" class="card-img-top" alt="Ваш будущий четвероногий друг">
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{ pet.category }} </h5>
                    <p class="card-text"> Чудесный друг {{ pet.name }} породы {{ pet.breed }} ждет новых хозяев
                    </p>
                    <div class="card-footer">
                       <h5> <small class="text-muted"><a href="{{ url_for('details', ad_id=pet.ad_id) }}">
                           Подробнее </a></small></h5>

                    </div>
                </div>
            </div>
            {% endfor %}



        </div>
    </div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-left">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>

      {% if active_index == 'all_pets' %}
            {% for pages_offset in range(number_of_pages) %}

    <li class="page-item"><a class="page-link" href="{{ url_for('all_pets', pages_offset=pages_offset*limit) }}">{{ loop.index }}</a></li>
            {% endfor %}
      {% endif %}


      {% if active_index == 'dogs' %}
            {% for pages_offset in range(number_of_pages) %}

    <li class="page-item"><a class="page-link" href="{{ url_for('dogs', pages_offset=pages_offset*limit) }}">{{ loop.index }}</a></li>
            {% endfor %}
      {% endif %}

      {% if active_index == 'cats' %}
            {% for pages_offset in range(number_of_pages) %}

    <li class="page-item"><a class="page-link" href="{{ url_for('cats', pages_offset=pages_offset*limit) }}">{{ loop.index }}</a></li>
            {% endfor %}
      {% endif %}

      {% if active_index == 'another_pets' %}
            {% for pages_offset in range(number_of_pages) %}

    <li class="page-item"><a class="page-link" href="{{ url_for('another_pets', pages_offset=pages_offset*limit) }}">{{ loop.index }}</a></li>
            {% endfor %}
      {% endif %}



    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>

       {% endblock %}