{% extends "base.html" %}

{% block title %}
Зоомагазин
{% endblock %}

{% block body %}
<div class="container-fluid" style="display: inline-block">


        <div class="card-columns" style="max-width: 900px;">
            {% for pet in pets %}
            <div class="card">
                {% if pet.photo %}
                <img src="/static/{{ pet.photo }}" class="card-img-top" alt="Ваш будущий четвероногий друг">

                {% else %}
                <img src="/static/7.jpg" class="card-img-top" alt="Ваш будущий четвероногий друг">
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{ pet.category }} </h5>
                    <p class="card-text"> Чудесный друг {{ pet.name }} породы {{ pet.breed }} ждет новых хозяев
                    </p>
                    <div class="card-footer">
                       <h5> <small class="text-muted"><a href="{{ url_for('details', vendor_code=pet.vendor_code) }}">
                           Подробнее </a></small></h5>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

       {% endblock %}