{% extends "base.html" %}


{% block title %}
Вход в личный кабинет
{% endblock %}


{% block body %}
<p class="h1 text-center font-weight-bold">Вход в личный кабинет</p>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="container">
    <form method="post">
        <div class="form-group row">
            <label for="login" class="col-sm-3 col-form-label col-form-label-lg">Введите ваш логин</label>
            <div class="col-sm-10">
                <input class="form-control form-control-lg" name="login" id="login" placeholder="elena"
                       required></div>
            <label for="password" class="col-sm-3 col-form-label col-form-label-lg">Введите ваш пароль</label>
            <div class="col-sm-10">
                <input class="form-control form-control-lg" type="password" name="password" id="password"
                       placeholder="пароль" required></div>
        </div>

        <p>
            <button type="submit" class="btn btn-info">Войти</button>
        </p>
        <p>
            <a class="btn btn-info" href="{{ url_for('registration') }}">Зарегистрироваться</a>
        </p>

    </form>
</div>

{% endblock %}
