{% extends "base.html" %}



{% block title %}
Добавить данные о животном в базу
{% endblock %}


    {% block body %}

    <p class="h2 text-center font-weight-bold">Введите данные животного</p>

    <form class="form-group" action="{{ url_for('new_pet') }}" method="post" enctype=multipart/form-data>
        <div class="form-group">
            <label for="vendor_code">Артикул</label>
            <input class="form-control" name="vendor_code" placeholder="111111" required>
        </div>

        <div class="form-group">
            <label for="category">Наименование категории</label>
            <input class="form-control" name="category" placeholder="Собака" required>
        </div>

        <div class="form-group">
            <label for="breed">Порода</label>
            <input class="form-control" name="breed" placeholder="Овчарка">
        </div>



        <div class="form-group">
            <label for="gender">Пол животного</label>
             <select class="form-control" name="gender">
                  <option>М</option>
                  <option>Ж</option>
            </select>
        </div>


        <div class="form-group">
            <label for="birthdate">Дата рождения</label>
            <input class="form-control" name="birthdate" placeholder="10.2015">
            <small id="emailHelp" class="form-text text-muted">Формат данных 'MM.YYYY'</small>
        </div>


        <div class="form-group">
            <label for="name">Имя</label>
            <input class="form-control" name="name" placeholder="Дружок">
        </div>


        <div class="form-group">
            <label for="price">Цена, руб.</label>
            <input class="form-control" name="price" placeholder="100" required>
        </div>


        <div class="form-group">
            <label for="photo">Фото</label>
            <input type=file name=file value=Upload placeholder="Фото">
        </div>

        <div class="form-group">
            <label for="description">Описание</label>
            <input class="form-control" name="description" placeholder="Умный, верный">
        </div>


        <button type="submit" class="btn btn-success">Добавить в базу</button>

    </form>
    {% endblock %}
